services:
  nginx:
    image: nginx:alpine
    ports:
      - '80:80'
    volumes:
      - .:/var/www/html
      - ./docker/nginx/defaut.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env.docker

  db:
    image: mariadb:11
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db-data:/var/lib/mysql

  redis:
    image: redis:alpine
    restart: unless-stopped

  horizon:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env.docker
    command: ['php', 'artisan', 'horizon']
    restart: unless-stopped
    depends_on:
      - app
      - redis

volumes:
  db-data:
    driver: local
